body {
    background-color: rgb(167, 11, 11); /* cor de fundo de pagina */
    color:rgb(10, 11, 12) ; /*cor da escrita */
    font-family:"Bitcount Prop Single Ink";
    margin: 0px;
    margin-bottom: 100px;
}

header{
    border: solid 2px rgb(30, 0, 99);
    font-size: 32px;
    padding: 10px;
    color: rgb(17, 17, 14);
}
  
.chamada{
    background-color:#f30f10 ;/*cor escolhida*/
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right:5%;
}

h1 {
    font-size: 30px;     /* tamanho da fonte*/
    text-align: center;  /* centralizado*/
    text-transform: uppercase;  /*letras minusculas*/
}

p {
    font-size: 16px;
    color:rgb(16, 15, 17);
}

.categoria{
    padding-left:20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(12, 12, 14)
}

.categoria h2{
    color:gold;
}
