body {
    background-color: rgb(130, 84, 24); /* cor de fundo de pagina */
    color:brown  /*cor da escrita */
}

header{
    border: solid 2px rgb(220, 189, 16);
    font-size: 32px;
    padding: 10px;
    color: cornsilk;
}

h1 {
    font-size: 30px;     /* tamanho da fonte*/
    text-align: center;  /* centralizado*/
    text-transform: uppercase;  /*letras minusculas*/
}

p {
    font-size: 16px;
    color:bisque;
}

