body {
    background-color: rgb(167, 11, 11); /* cor de fundo de pagina */
    color:rgb(2, 9, 25) ; /*cor da escrita */
    font-family:"Bitcount Prop Single Ink";
}

header{
    border: solid 2px rgb(41, 6, 121);
    font-size: 32px;
    padding: 10px;
    color: rgb(17, 17, 14);
}
  
section{
    background-color:#f30f10 ;/*cor escolhida*/
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right:5%;
}

h1 {
    font-size: 30px;     /* tamanho da fonte*/
    text-align: center;  /* centralizado*/
    text-transform: uppercase;  /*letras minusculas*/
}

p {
    font-size: 16px;
    color:rgb(41, 6, 121);
}

